<a href="https://colab.research.google.com/github/popson92/COVID-19-EDA-tutorial/blob/master/dataPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import pandas as pd

In [36]:
s1 = pd.Series([2, 4, 6])

In [37]:
s2 = pd.Series([4, 8, 12])
print(s1.append(s2, ignore_index=True))

0     2
1     4
2     6
3     4
4     8
5    12
dtype: int64

In [38]:
df1 = {'a': 10, 'c':15, 'e':6}
df2 = {'a': 20, 'c':35, 'e':16}

df1 = pd.DataFrame(list(df1.items()), columns=['months','eggs'])
df2 = pd.DataFrame(list(df2.items()), columns=['months','eggs'])

In [39]:
df1 = df1.set_index('months')
df2 = df2.set_index('months')

In [40]:
df2

        eggs
months
a         20
c         35
e         16

In [33]:
x = pd.concat([df1, df2], 
    keys=['2016', '2017'], 
    axis=1, join='inner'
)
print(x)

       2016 2017
       eggs eggs
months
a        10   20
c        15   35
e         6   16

In [41]:
d = {'one': df1, 'two': df2}

In [43]:
x = pd.concat(d)
print(x)

            eggs
    months
one a         10
    c         15
    e          6
two a         20
    c         35
    e         16

In [27]:
df.reindex(cols)

        eggs
months
a       10.0
b        NaN
c       15.0
d        NaN
e        6.0